/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
Todo.rtf
.vagrant
/storage/oauth-private.key
/storage/oauth-public.key
.phpunit.result.cache
/.rnd
/public/hot
/public/storage
/storage/*.key
/public/vendor
/public/packages
.php_cs.cache
