/* Variable and mixin */
$base-color: #1453f2;
@mixin theme-gradient-vertical($start-color: #01c1fb, $end-color: #1457f2, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
}

@mixin box-shadow( $default:0 0 30px 1px rgba(0,0,0,0.1)) {
  box-shadow: $default;
}

@mixin theme-color-gradient($start-color:#01c1fb, $end-color: #1457f2, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
