/* Global Rules */
.section-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #384665;
  font-weight: normal;
  position: relative;
  display: inline-block;
}

.block-title {
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

.facebook-link {
  color: #3b5998;
}

.twitter-link {
  color: #00aced;
}

.linkedin-link {
  color: #007bb6;
}

.github-link {
  color: #24292e;
}

.upwork-link {
  color: #37a000;
}

.color-text {
  color: $base-color;
}

.back-to-top-fade-enter-active,
.back-to-top-fade-leave-active {
  transition: opacity 0.7s;
}
.back-to-top-fade-enter,
.back-to-top-fade-leave-to {
  opacity: 0;
}

.back-to-top {
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  bottom: 40px;
  right: 30px;

  .default {
    width: 40px;
    height: 40px;
    @include theme-gradient-vertical;
    color: #fff;
    text-align: center;
    padding: 7px;
    border-radius: 50%;
    transition: 0.3s;
  }
}

.Cookie--dark-blue {
  background: #edeff5;
  color: #838391;
  padding: 1.25em;

  .Cookie__button {
    background: #4b81e8;
    padding: 0.625em 3.125em;
    color: #fff;
    border-radius: 0;

    &:hover {
      background: darken(#4b81e8, 10%);
    }
  }
}

.break-normal {
  word-break: normal;
}
